---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the  project">
  <h1>About the project</h1>

  <p>The SpaceX project is a web application that allows you to view information about SpaceX launches. The application uses the SpaceX API to get the data. The application is written in React and uses the Redux library to manage the state of the application. The application is responsive and works on mobile devices.</p>
</Layout>
