---
console.log('Javascript is working!')
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h1 class="text-4xl font-bold leading-none tracking-tight text-white sm:text-5xl md:text-6xl lg:text-7xl">
      SpaceX lauches
    </h1>
    <p class="max-w-md mx-auto mt-5 text-xl text-white sm:text-2xl md:mt-8">
      All the information you need to know about.
    </p>
  </div>

  <nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <a class="text-white" href="/">Ultimos lanzamientos</a>
    <a class="text-white" href="/oldest">Los mas viejos</a>
  </nav>
</header>